hickle==3.4.3
keras==2.2.4
matplotlib==2.2.4
numpy==1.16.4
pandas==0.24.2
root-numpy==4.8.0
root-pandas==0.6.1
scikit-learn==0.20.3
setGPU==0.0.7
sklearn==0.0
tensorflow==1.15.0
tensorflow-gpu==2.7.2
